In [1]:
import pandas as np

In [2]:
df = np.read_csv("education.csv")

In [3]:
df = df.rename(columns={'Age(Years)' : 'Age', 'Home Location' : 'Home_location', 'Level of Education' : 'Education',
                       'Number of Subjects' : 'nb_subjets', 'Device type used to attend classes' : 'Device_used', 
                       'Economic status' : 'Economic_status', 'Family size' : 'Family_size', 
                        'Internet facility in your locality' : 'Internet',
                       'Are you involved in any sports?' : 'Sport', 'Do elderly people monitor you?' : 'Monitoring',
                       'Study time (Hours)' : 'Study', 'Sleep time (Hours)' : 'Sleep',
                       'Time spent on social media (Hours)' : 'Media', 'Interested in Gaming?' : 'Gaming',
                       'Have separate room for studying?' : 'separate_room', 'Engaged in group studies?' : 'group_study',
                       'Average marks scored before pandemic in traditional classroom' : 'Note_avant',
                       'Your interaction in online mode' : 'Online_mode', 
                        'Clearing doubts with faculties in online mode' : 'doubts_online', 'Interested in?' : 'interest',
                       'Performance in online' : 'performance_online', 
                        'Your level of satisfaction in Online Education' : 'Satisfaction_online'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1033 non-null   object
 1   Home_location        1033 non-null   object
 2   Education            1033 non-null   object
 3   Age                  1033 non-null   int64
 4   nb_subjets           1033 non-null   int64
 5   Device_used          1033 non-null   object
 6   Economic_status      1033 non-null   object
 7   Family_size          1033 non-null   int64
 8   Internet             1033 non-null   int64
 9   Sport                1033 non-null   object
 10  Monitoring           1033 non-null   object
 11  Study                1033 non-null   int64
 12  Sleep                1033 non-null   int64
 13  Media                1033 non-null   int64
 14  Gaming               1033 non-null   object
 15  separate_room        1033 non-null   object
 16  group_study          1033 non-null   object
 17  Note_avant           1033 non-null   object
 18  Online_mode          1033 non-null   int64
 19  doubts_online        1033 non-null   int64
 20  interest             1033 non-null   object
 21  performance_online   1033 non-null   int64
 22  Satisfaction_online  1033 non-null   object
dtypes: int64(10), object(13)
memory usage: 185.7+ KB

In [4]:

df['Note_avant'] = df['Note_avant'].replace(['0-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91-100'],[0,1,2,3,4,5,6,7,8,9])

df_1 = np.get_dummies(df)

In [5]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 40 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           1033 non-null   int64
 1   nb_subjets                    1033 non-null   int64
 2   Family_size                   1033 non-null   int64
 3   Internet                      1033 non-null   int64
 4   Study                         1033 non-null   int64
 5   Sleep                         1033 non-null   int64
 6   Media                         1033 non-null   int64
 7   Note_avant                    1033 non-null   int64
 8   Online_mode                   1033 non-null   int64
 9   doubts_online                 1033 non-null   int64
 10  performance_online            1033 non-null   int64
 11  Gender_Female                 1033 non-null   uint8
 12  Gender_Male                   1033 non-null   uint8
 13  Home_location_Rural           1033 non-null   uint8
 14  Home_location_Urban           1033 non-null   uint8
 15  Education_Post Graduate       1033 non-null   uint8
 16  Education_School              1033 non-null   uint8
 17  Education_Under Graduate      1033 non-null   uint8
 18  Device_used_Desktop           1033 non-null   uint8
 19  Device_used_Laptop            1033 non-null   uint8
 20  Device_used_Mobile            1033 non-null   uint8
 21  Economic_status_Middle Class  1033 non-null   uint8
 22  Economic_status_Poor          1033 non-null   uint8
 23  Economic_status_Rich          1033 non-null   uint8
 24  Sport_No                      1033 non-null   uint8
 25  Sport_Yes                     1033 non-null   uint8
 26  Monitoring_No                 1033 non-null   uint8
 27  Monitoring_Yes                1033 non-null   uint8
 28  Gaming_No                     1033 non-null   uint8
 29  Gaming_Yes                    1033 non-null   uint8
 30  separate_room_No              1033 non-null   uint8
 31  separate_room_Yes             1033 non-null   uint8
 32  group_study_No                1033 non-null   uint8
 33  group_study_yes               1033 non-null   uint8
 34  interest_Both                 1033 non-null   uint8
 35  interest_Practical            1033 non-null   uint8
 36  interest_Theory               1033 non-null   uint8
 37  Satisfaction_online_Average   1033 non-null   uint8
 38  Satisfaction_online_Bad       1033 non-null   uint8
 39  Satisfaction_online_Good      1033 non-null   uint8
dtypes: int64(11), uint8(29)
memory usage: 118.2 KB

In [6]:
#yes = 1 :: no = 0
#on retire les colonnes marqué NO (doublon)
#df.drop(['A'], axis = 1) 
#male=1 female = 0
#urbane = 1 , rural =0
df_1.drop(df_1.columns[[11,13,24,26,28,30,32]], axis=1 , inplace = True  )
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1033 entries, 0 to 1032
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Age                           1033 non-null   int64
 1   nb_subjets                    1033 non-null   int64
 2   Family_size                   1033 non-null   int64
 3   Internet                      1033 non-null   int64
 4   Study                         1033 non-null   int64
 5   Sleep                         1033 non-null   int64
 6   Media                         1033 non-null   int64
 7   Note_avant                    1033 non-null   int64
 8   Online_mode                   1033 non-null   int64
 9   doubts_online                 1033 non-null   int64
 10  performance_online            1033 non-null   int64
 11  Gender_Male                   1033 non-null   uint8
 12  Home_location_Urban           1033 non-null   uint8
 13  Education_Post Graduate       1033 non-null   uint8
 14  Education_School              1033 non-null   uint8
 15  Education_Under Graduate      1033 non-null   uint8
 16  Device_used_Desktop           1033 non-null   uint8
 17  Device_used_Laptop            1033 non-null   uint8
 18  Device_used_Mobile            1033 non-null   uint8
 19  Economic_status_Middle Class  1033 non-null   uint8
 20  Economic_status_Poor          1033 non-null   uint8
 21  Economic_status_Rich          1033 non-null   uint8
 22  Sport_Yes                     1033 non-null   uint8
 23  Monitoring_Yes                1033 non-null   uint8
 24  Gaming_Yes                    1033 non-null   uint8
 25  separate_room_Yes             1033 non-null   uint8
 26  group_study_yes               1033 non-null   uint8
 27  interest_Both                 1033 non-null   uint8
 28  interest_Practical            1033 non-null   uint8
 29  interest_Theory               1033 non-null   uint8
 30  Satisfaction_online_Average   1033 non-null   uint8
 31  Satisfaction_online_Bad       1033 non-null   uint8
 32  Satisfaction_online_Good      1033 non-null   uint8
dtypes: int64(11), uint8(22)
memory usage: 111.1 KB

In [7]:
def normalize(data, cat) :
    data[cat]= ((data[cat]-data[cat].min())/ (data[cat].max()-data[cat].min()))

In [8]:
normalize(df_1,'Note_avant')
normalize(df_1,'nb_subjets')
normalize(df_1,'Family_size')
normalize(df_1,'Age')
normalize(df_1,'Internet')
normalize(df_1,'Study')
normalize(df_1,'Sleep')
normalize(df_1,'Media')
normalize(df_1,'Online_mode')
normalize(df_1,'doubts_online')
normalize(df_1,'performance_online')
df_1

,Age,nb_subjets,Family_size,Internet,Study,Sleep,Media,Note_avant,Online_mode,doubts_online,...,Monitoring_Yes,Gaming_Yes,separate_room_Yes,group_study_yes,interest_Both,interest_Practical,interest_Theory,Satisfaction_online_Average,Satisfaction_online_Bad,Satisfaction_online_Good
0,0.290323,0.526316,0.250,1.00,0.222222,0.555556,0.000000,1.000000,0.00,0.00,...,1,0,0,0,0,1,0,1,0,0
1,0.322581,0.315789,0.250,0.00,0.666667,0.444444,0.000000,1.000000,0.00,0.00,...,1,1,1,0,0,0,1,0,1,0
2,0.290323,0.210526,0.375,0.25,0.555556,0.666667,0.000000,0.777778,0.00,0.00,...,1,0,1,0,1,0,0,0,1,0
3,0.290323,0.210526,0.250,0.75,0.222222,0.555556,0.111111,1.000000,0.00,0.25,...,1,0,0,1,0,0,1,0,1,0
4,0.290323,0.210526,0.250,0.50,0.777778,0.666667,0.111111,0.888889,0.50,0.50,...,0,1,1,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,0.322581,0.105263,0.500,1.00,0.333333,0.777778,0.333333,1.000000,0.75,0.75,...,1,1,1,1,0,0,1,1,0,0
1029,0.354839,0.263158,0.125,0.00,0.222222,0.666667,0.111111,0.777778,1.00,1.00,...,0,1,1,0,0,0,1,1,0,0
1030,0.354839,0.105263,0.125,0.25,0.222222,0.555556,0.222222,0.777778,0.25,0.25,...,0,0,1,1,0,0,1,1,0,0
1031,0.322581,0.263158,0.000,0.50,0.333333,0.555556,0.111111,0.666667,0.50,0.50,...,0,1,0,0,1,0,0,0,0,1
1032,0.354839,0.263158,0.250,0.50,0.444444,0.666667,0.000000,0.888889,1.00,0.75,...,0,1,1,1,0,1,0,1,0,0

In [9]:
df_1.to_csv('educnorma.csv')